.form{
    max-width: 500px;

    margin: 20px;
}
.form-group, .form-check{
    margin-bottom: 20px !important;
    font-size: 11px !important;
}
.form-check-input{
    padding: 10px !important;
    margin-right: 10px !important;

}
.form-rgpd{
    font-size: 10px;
    padding: 20px;
}
.form-check-label{
    line-height: 35px !important;
}
a{
    color:  var(--main-color-primary);
}
.invalid-input{
    border: 2px solid #FF3300 !important;
}
.form-check-input{
    margin-top: 11px !important;
}