
<nav  class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <div class="logoSmall">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bounding-box" viewBox="0 0 16 16">
          <path d="M5 2V0H0v5h2v6H0v5h5v-2h6v2h5v-5h-2V5h2V0h-5v2H5zm6 1v2h2v6h-2v2H5v-2H3V5h2V3h6zm1-2h3v3h-3V1zm3 11v3h-3v-3h3zM4 15H1v-3h3v3zM1 4V1h3v3H1z"/>
        </svg>
      </div>
      <div class="row pt-2 ml-4 logo">
        <div class="col-md-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bounding-box" viewBox="0 0 16 16">
            <path d="M5 2V0H0v5h2v6H0v5h5v-2h6v2h5v-5h-2V5h2V0h-5v2H5zm6 1v2h2v6h-2v2H5v-2H3V5h2V3h6zm1-2h3v3h-3V1zm3 11v3h-3v-3h3zM4 15H1v-3h3v3zM1 4V1h3v3H1z"/>
          </svg>
        </div>
        <div class="col-md-10">
          <div class="title-ctn ml-4">
            <h6 class="text-uppercase mb-4 font-weight-bold text-left">CREER MON <br/> CENTRE DE SANTE DENTAIRE</h6>
          </div>
        </div>
      </div>
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
 
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="nav-main" class="collapse navbar-collapse text-left mr-5" id="navbarSupportedContent">
      <div class="navbar-nav  ml-auto " data-toggle="toggle" href="#">
        <a class="nav-item nav-link active" [routerLink]="['/home']">Creation<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" [routerLink]="['/gestion']">Gestion</a>
        <a class="nav-item nav-link" [routerLink]="['/reference']">FAQ</a>
        <a class="nav-item nav-link" [routerLink]="['/contact']">Contact</a>
      </div>
    </div>
  </nav>