.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 30px;
    background-color: black;
    color: white;
}
.title-ctn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    margin-top: -50px;
}

@media screen and (max-width: 768px) {
.title-ctn{
    justify-content: flex-start;
}
}