<div class="container-fluid mt-5 p-0">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white footer"
            style="background-color: #45526e"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-5 col-lg-3 col-xl-3 mx-auto mt-3">
            <div class="row">
              <div class="col-2 col-md-2 ">
                <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-bounding-box" viewBox="0 0 16 16">
                  <path d="M5 2V0H0v5h2v6H0v5h5v-2h6v2h5v-5h-2V5h2V0h-5v2H5zm6 1v2h2v6h-2v2H5v-2H3V5h2V3h6zm1-2h3v3h-3V1zm3 11v3h-3v-3h3zM4 15H1v-3h3v3zM1 4V1h3v3H1z"/>
                </svg>
                </a>
              </div>
              <div class="col-10 col-md-10 ">
                <div class="title-ctn">
                  <a href="#">
                  <h6 class="text-uppercase mb-4 font-weight-bold text-left">CREER MON <br/> CENTRE DE SANTE DENTAIRE</h6>
                </a>
                </div>
              </div>
         
            </div>
              <p class="text-left">
                Nous vous accompagnons dans votre demarche de création de votre propre centre de santé.
              </p>
            </div>
  
            <hr class="w-100 clearfix d-md-none" />

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">
                 liens 
              </h6>
              <p>
                <a class="text-white"  [routerLink]="['/home']" onclick=" scrollTop()">Creation</a>
              </p>
              <p>
                <a class="text-white" [routerLink]="['/gestion']">Gestion</a>
              </p>
              <p>
                <a class="text-white" [routerLink]="['/reference']">FAQ</a>
              </p>
              <p>
                <a class="text-white" [routerLink]="['/contact']">Contact</a>
              </p>
            </div>
  
            <hr class="w-100 clearfix d-md-none" />
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
              <p><i class="fas fa-home mr-3"></i> 5 RUE EMILE PEYMAUD, <br/> 77600 BUSSY SAINT GEORGE</p>
              <p><i class="fas fa-envelope mr-3"></i>samirberrahrah@hotmail.fr</p>
              <p><i class="fas fa-phone mr-3"></i> +(33) 06 64 97 21 80</p>
            </div>
          </div>
        </section>
  
        <hr class="my-3">
        <section class="p-3 pt-0">
          <div class="row  align-items-center">
            <div class="col-md-12 text-center text-md-center">
              <div class="p-3">
                © 2022 Copyright:
                <a class="text-white text-center" href="#">creer-mon-centre-de-sante-dentaire.fr</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </footer>
  </div>