<div class="container">

<h1 class="title">Gestion de centre de santé dentaire</h1>

<div class="row pb-4">
    <div class="col-md-6">
        <h5>L’audit opérationnel et financier du centre de santé dentaire financier </h5>

        <p>Vous n'êtes pas entièrement satisfait du niveau de performance de votre centre de santé dentaire et vous n'arrivez pas à identifier les anomalies affectant la santé financière du centre : notre cabinet de conseil vous accompagne dans la réalisation d’un bilan, à travers l'analyse d'indicateurs clés de performance et vous aidera à prendre la bonne décision pour gérer votre centre.</p>

        <h5>Assistance dans la recherches de financement et de subventions</h5>
        
       <p> Nous vous assisterons dans la formulation de la demande des subventions accordées par l’Assurance maladie (Teulade) et la rémunération forfaitaire spécifique prévue par l’Accord national.</p>
        
       <p> D'autres subventions peuvent être accordées par l'ARS ou les collectivités locales, notamment en fonction de la localisation du centre et des soins dispensés. Notre équipe saura vous accompagner tout au long du processus de recherche et de demande de subvention.</p>
        
        <p>Au cas où les subventions ne sont pas accordées, nous pourrons vous assister dans la constitution d'un dossier de financement à 
            présenter aux organismes de crédit spécialisés. </p>
    </div>
    <div class="col-md-6">
        <img src="https://images.pexels.com/photos/8296981/pexels-photo-8296981.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" height="500px" alt="gestion-img">
    </div>
</div>
    
</div>