<div class="faq-header">
    <h1>{{ "faq.title"| translate}}</h1>
</div>

<app-title [title]="title"></app-title>
    <div class="container ctn-height">
      <div id="accordion" class="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Qui peut créer et gérer un centre de santé ?
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Les “centres de santé” sont définis dans l'article L6323-1 du code de la santé publique comme des structures sanitaires de proximité dispensant des soins et pratiquant des diagnostics et de la prévention associant des professionnels de santé et des auxiliaires médicaux.<br/><br/>
              <div class="tabulation">
              ● &nbsp;	Les centres de santé sont des structures sanitaires de proximité d’intérêt collectif et pratique le tiers payant sans dépassement d’honoraire,<br/>
              ● &nbsp;	Les professionnels du centre sont salariés,<br/>
              ● &nbsp;	Les centres de santé sont ouverts aux étudiants en médecine désireux d’effectuer un stage,<br/>
              ● &nbsp;	Les centres de santé peuvent être des centres de recherche universitaire,<br/>
              ● &nbsp;	Les centres de santé peuvent pratiquer à la fois des activités de prévention et de diagnostic<br/>
            </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Les raisons d’éclosion des centres dentaires en France ? 
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              La HPST a contribué à l’ouverture et à l’exploitation des centres de santé. En effet, avant l’entrée en vigueur de cette loi, un agrément préfectoral, délivré sous certaines conditions, était une démarche obligatoire pour l’ouverture d’un centre de santé en France. 
              La loi HPST a donc modifié les modalités d’ouvertures des centres de santé en supprimant notamment la procédure d’agrément préfectoral et en instaurant un régime déclaratif auprès de l’Agence régionale de santé (ARS)              
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              	SELARL ou centre dentaire associatif ? 
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Si les centres de santé dentaire sous forme associative présentent de nombreux avantages pour les nouveaux chirurgiens-dentistes, l’engouement pour cette nouvelle forme d’activité est justifié pour les raisons suivantes :  <br/><br/>
              <div class="tabulation">
             -	Déployer des centres de santé dentaire pour pouvoir offrir une accessibilité aux soins,<br/>
             -	La possibilité de gérer une structure sanitaire sans être issu du milieu médical, tout en associant un professionnel de santé au projet de santé,<br/>
             -	La possibilité d’accueillir des chirurgiens-dentistes fraîchement diplômés, ne souhaitant pas entreprendre une activité libérale, en tant que salariés,<br/>
             -	L’engouement des fonds d’investissement au rachat de centres dentaires,<br/><br/>
            </div>
Les patients très réceptifs à cette forme d’activité par son accessibilité financière et sa flexibilité<br/>

            </div>
          </div>
        </div>
 
   
      </div>

  </div>



