.faq-header{
    background-image: url('../../../../assets/images/pictures/faq.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.accordion-flush .accordion-item .accordion-button {
   background-color: rgb(165 175 185);
}
.faq-divider-button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ctn-height{
    min-height: 550px;
}

.tabulation { 
    display: inline-block; 
    margin-left: 40px; 
    } 

.accordion{
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
.btn{
    font-size: 12px !important;
}
}