<header class="header">
  <div class="header__text-box">

  </div>
</header>

<section class="section-about" id="section-about">

  <div class="container">
    <h1 class="title">
      Création d’un centre dentaire
    </h1>
  <div class="row">
    <div class="col-md-7">
      <h3 class="heading-tertiary u-margin-bottom-small mb-5">
        Qu’est-ce qu’un centre de santé dentaire associatif ?
      </h3>
      <p class="paragraph mb-2">
        Un centre de santé dentaire associatif est un établissement qui permet de pratiquer l’activité dentaire.
      La création d’un centre de santé dentaire associatif doit respecter  certaines conditions :  </p>
        <ul class="list-item">
          <li>Offrir des soins accessibles à tout public avec des tarifs conventionnés sans dépassements d’honoraires .</li>
          <li>Pratiquer le tiers payant .</li>
          <li>Proposer des horaires d’ouverture élargis .</li>
        </ul>
    </div>
    <div class="col-md-5 ctn-img-ht">
      <div class="composition">
        <img
          src="https://images.pexels.com/photos/3779705/pexels-photo-3779705.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Tour Eiffel"
          class="composition__photo composition__photo--p1"
        />
        <img
          src="https://images.pexels.com/photos/305566/pexels-photo-305566.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="Arc de triomphe"
          class="composition__photo composition__photo--p2"
        />
        <img
          src="https://images.pexels.com/photos/208474/pexels-photo-208474.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          class="composition__photo composition__photo--p3"
        />
      </div>
    </div>
  </div>
  </div>

  <div class="container-fluid bg-dark bg-dark mb-4">
<div class=" bbb-wrapper fl-wrap bg-dark text-white">
 <h6 class="container p-5 text-center">Découvrez nos services, appelez-nous au <a [href]="phoneto()">+(33) 06 64 97 21 80 </a> ou envoyez-nous un email à <a [href]="mailto()">samirberrahrah@hotmail.fr</a>
</h6>
                </div>
  </div>
  <div class="container">
    <div class="advice_title">
      <h3 class="title mt-5">
        Conseils avant la création d’un centre de santé dentaire associatif
      </h3>
    </div>

    <div class="row">
      <div class="col-md-6">

        <p class="paragraph">
          La création d’un centre de santé dentaire associatif passe par plusieurs démarches administratives qui peuvent s’étaler dans le temps. Il va falloir :</p>
          <ul class="list-item">
          <li> Assurez-vous de la faisabilité du projet ! </li>
            <li>		Présentez votre projet à l’ARS </li>
              <li>		Gérez le juridique et l’administratif ! </li>
                <li> 		Recrutez le personnel du centre de santé</li>
                <li> 			Trouvez des locaux et équipez-le</li>
                <li> 				Demandez des subventions</li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="conseil_img">
          <img src="https://images.pexels.com/photos/3762402/pexels-photo-3762402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
     </div>
    </div>
  </div>
</section>