.content{
    width: 100%;
    min-height: 600px;
    background-image: linear-gradient(rgb(248, 248, 248), rgb(168, 168, 173));
    background-image: url("../assets/images/home.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}