<div class="contact-header">
    <h6>{{"contact.header" | translate}}</h6>
    <h1>{{ "contact.title" | translate}}</h1>
    <p>{{"contact.subtitle" | translate}}</p>
</div>
<app-title [title]="title"></app-title>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-form></app-form>
        </div>
        <div class="col-md-6">
            <div class="contact-info">
                <p><strong>LOCALISATION</strong></p>
                <div class="contact-info-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                      </svg>
                      <a>5 RUE EMILE PEYMAUD, <br/> 77600 BUSSY SAINT GEORGE</a>
                </div>
                <p><strong>APPELLER NOUS</strong> </p>
                <div class="contact-info-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-headset" viewBox="0 0 16 16">
                        <path d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z"/>
                      </svg>
                      <a [href]="phoneto()">{{"phone-number" | translate}}</a>
                </div>
                <p><strong>SUPPORT MAIL</strong></p>
                <div class="contact-info-item mr-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                      </svg>
                      <a [href]="mailto()">samirberrahrah@hotmail.fr</a>
                </div>
                <p><strong>HORAIRES</strong></p>
                <div class="contact-info-item">
                    Du lundi au Jeudi: 9h - 22h00<br>
                    Vendredi : 9h - 18h<br>
                </div>
            </div>
        </div>
    </div>
    <app-map></app-map>
</div>


